<%= render "layouts/public_navbar" %>
<div class="container">
  <div class="row">
		<h2>マイページ</h2>
		<p><strong class="information-link"><i class="far fa-user"></i>登録情報</strong>
			<%= link_to " 編集する", edit_customers_path(@customer), class: "glyphicon glyphicon-pencil btn btn-success" %>
		</p>

			<table class="table table-bordered table-condensed" >
				<tbody>
					<tr>
						<td class="info col-xs-2">登録名</td>
						<td class="text-left"><%= @customer.last_name %><%= @customer.first_name %></td>
					</tr>
					<tr>
						<td class="info col-xs-2">フリガナ</td>
						<td class="text-left"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
					</tr>
					<tr>
						<td class="info">郵便番号</td>
						<td class="text-left">〒<%= @customer.postal_code %></td>
					</tr>
					<tr>
						<td class="info">住所</td>
						<td class="text-left"><%= @customer.address %></td>
					</tr>
					<tr>
						<td class="info">電話番号</td>
						<td class="text-left"><%= @customer.telephone_number %></td>
					</tr>
					<tr>
						<td class="info">メールアドレス</td>
						<td class="text-left"><%= @customer.email %></td>
					</tr>
				</tbody>
			</table>

			<div class="mypage-bottoms">
				<P><strong class="shipping-link">配送先</strong>
					<%= link_to " 一覧を見る", shipping_addresses_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-folder-open btn btn-info" %>
				</p>
				<p><strong class="order-link">注文履歴</strong>
					<%= link_to " 一覧を見る", orders_path(id: @customer.id), class: "glyphicon glyphicon-folder-open btn btn-info" %>
				</p>
			</div>
	</div>
</div>