<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h2>商品登録</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="border col-12">
        <br>
        <% if @item.errors.any? %>
          <%= @item.errors.count %>件のエラーが発生しました
          <% @item.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <br>
        <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
        <div class="row">
          <div class="col-xs-3">
            <br>
            <%= f.label :"ジャンル：" %><br>
            <%= f.label :"商品名：" %><br>
            <%= f.label :"商品説明：" %><br><br>
            <div class="space3">
              <%= f.label :"税抜金額：" %><br>
            </div>
            <%= f.label :"販売ステータス：" %><br>
            <%= f.label :"画像：" %><br>
          </div>
          <div class="col-xs-4 offset-1">
            <br>
            <%= f.collection_select :genre_id, Genre.all, :id, :name %><br>
            <div class="space">
              <%= f.text_field :name %><br>
            </div>
            <div class="space">
              <%= f.text_area :introduction %><br>
            </div>
            <div class="space">
              <%= f.text_field :price %>円<br>
            </div>
            <div class="space">
              <%= f.select :is_active,{販売中:true, 販売停止:false}%><br>
            </div>
            <div class="space">
              <%= f.attachment_field :image %><br>
            </div>
            <div class="space">
              <%= f.submit '新規登録', class: "btn btn-success"%>
            </div>
          </div>
        </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
    <div class="col-5">
      <%= link_to "商品一覧", admin_items_path %>
    </div>
</div>