<%= render "layouts/admin_navbar" %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <br>
    <h2>注文詳細画面</h2>
    <div class="border col-lg-12">
      <div class="field">
        <p>
          購入日時：<%= @order.created_at %>
        </p>
      </div>
      <div class="field">
        <p>
          購入者：<%= @order.customer.last_name %><%= @order.customer.first_name %>
        </p>
      </div>
      <div class="field">
        <p>
          配送先住所：〒<%= @order.postal_code %>　<%= @order.address %>
        </p>
      </div>
       <div class="field">
        <p>
          配送先氏名：<%= @order.name %>
        </p>
      </div>

      <%= form_with model:@order, url: admin_order_path, local:true do |f| %>
      <div class="field">
        <p>
          注文ステータス：<%= f.select :status, Order.statuses_i18n.invert %>
          <%= f.submit '更新', class: "btn btn-success"%>
        </p>
      </div>
      <% end %>
    </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">数量</th>
            <th scope="col">購入時価格（税込）</th>
            <th scope="col">製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.amount %></td>
              <td>¥<%= order_detail.item.with_tax_price %></td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), local:true do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
                  <%= f.submit '更新', class: "btn btn-success"%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>