<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h2>ジャンル編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="border col-lg-12">
        <br>
          <% if @genre.errors.any? %>
              <%= @genre.errors.count %>件のエラーが発生しました
              <% @genre.errors.full_messages.each do |message| %>
                  <%= message %>
              <% end %>
          <% end %>
        <br>
        <%= form_with model:@genre, url: admin_genre_path, local:true do |f| %>
          <div class="form-group">
            <%= f.label :"ジャンル名：" %><br>
            <%= f.text_field :name %>
          </div>
          <div class="col-5">
            <%= f.submit '登録', class: "btn btn-success"%>
          </div>
        <% end %>
        <br>
        <%= link_to "ジャンル一覧", admin_genres_path %>
      </div>
    </div>
  </div>
</div>