<%= render "layouts/public_navbar" %>
<div class="container">
  <div class="row">
	  <h2>配送先編集</h2>
	</div>
  <%= form_with model: @shipping_address, url: shipping_address_path(@shipping_address), local:true do |f| %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.label :"郵便番号(ハイフンなし)" %><br>
      <%= f.label :"住所" %><br>
      <%= f.label :"宛名" %><br>
    </div>
    <div class="col-xs-4 offset-1">
      <!--郵便番号-->
      <%= f.text_field :postal_code, :size =>"30x10" %><br>
      <div class="space">
        <!--住所-->
        <%= f.text_field :address, :size =>"30x10" %><br>
      </div>
      <div class="space">
        <!--宛名-->
        <%= f.text_field :name, :size =>"30x10" %><br>
      </div>
    </div>
    <div class="col-xs-2 offset-1">
      <br><br><br>
      <%= f.submit '登録する' ,class: "col-xs-2 pull-right btn-sm btn-success " %>
    </div>
  </div>
  <% end %>
</div>