<%= render "layouts/admin_navbar" %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>注文履歴一覧</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">購入日</th>
            <th scope="col">購入者</th>
            <th scope="col">注文ステータス</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= order.name %></td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to '詳細', admin_order_path(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>