<%= render "layouts/public_navbar" %>

<!--数量変更・カート削除の要素を含ませる-->
<div class="container">
  <div class="row">
		<h2>Cart</h2>
		<div class="pull-right margin-bottom">
		  <link_to "カートを空にする", customers_cart_items_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "glyphicon glyphicon-trash btn btn-danger" %>
    </div>
		<table class="table table-hover table-inverse">
  		  <div class="col-4">
  		  <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
  		    <tbody>
  		      <% @cart_items.each do |cart_item| %>
  		      <tr>
              <td>
                <%= attachiment_image_tag cart_item.item, :image :fill, 40, 40 %>
                <%= cart_item.item.id %></td>
              <td><%= cart_item.item.with_tax_price%></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal%></td>
              
              </tr>
            <% end %>
          </tbody>
        </div>
      </table>
	</div>
</div>