<%= render "layouts/public_navbar" %>
<div class="container">
  <div class="row">
		<h2>注文情報入力画面</h2>
		<!--改行-->
		  <h3>支払方法</h3><br>
		  <%= form_with model: @order, url:confirm_orders_path, local:true do |f| %>
		    <p>
		      <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method, "クレジットカード" %>
        </p>
        <p>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method, "銀行振込" %>
        </p>
      <h3>お届け先</h3><br>
        <p>
          <%= f.radio_button :select_address_method, "1" %>
          <%= f.label :address_1,"ご自身の住所" %><br>
          〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
          <%= current_customer.last_name %> <%= current_customer.first_name %>様
        </p>
        <p>
          <%= f.radio_button :select_address_method, "2" %>
          <%= f.label :address_2,"登録済住所から選択" %><br>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
        </p>
        <p>
          <%= f.radio_button :select_address_method, "3" %>
          <%= f.label :address_3,"新しいお届け先" %><br>
          <%= f.label :postal_code,"郵便番号(ハイフンなし)" %>
          <%= f.text_field :postal_code %>
          <%= f.label :address, "住所" %>
          <%= f.text_field :address %>
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name %>
        </p>
        <P><%= f.submit "確認画面へ進む", class:"btn btn-success" %></P>
      <% end %>
  </div>
</div>