<%= render "layouts/public_navbar" %>

<div class="container">
  <div class="row">
		<h2>Items</h2>
		  <table class="table table-hover table-inverse">
  		  <div class="col-4">
  		    <tbody>
  		      <% @items.each do |item| %>
  		      <tr>
              <td><%= link_to item_path(item.id) do %>
                <%= attachment_image_tag item, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td><%=link_to item.name, item_path(item.id) %></td>
              <td><%= item.price %></td>
              </tr>
            <% end %>
          </tbody>
        </div>
      </table>
      <%= paginate @items %>
	</div>
</div>